@layer components {
  .title {
    font-size: 2rem;
    color: #13686a;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 700;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
