@layer components {
  .footer {
    background-color: #13686a;
    color: white;
    text-align: center;
    padding: 2rem;
    border-top: 3px solid #d9b970;
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  .social a {
    font-size: 2rem;
    color: white;
    transition: color 0.2s ease-in-out;
  }

  .social a:hover {
    color: #d9b970;
  }

  .text {
    font-size: 1rem;
    color: #ccc;
  }

  .text a {
    color: #ccc;
    transition: color 0.2s ease-in-out;
  }

  .text a:hover {
    color: #d9b970;
  }
}
