# Configuration API Gateway
NEXT_PUBLIC_API_URL=http://localhost:3020

# Configuration des services
NEXT_PUBLIC_CUSTOMER_SERVICE_URL=http://localhost:13001
NEXT_PUBLIC_PRODUCT_SERVICE_URL=http://localhost:13002
NEXT_PUBLIC_ORDER_SERVICE_URL=http://localhost:13003
NEXT_PUBLIC_CART_SERVICE_URL=http://localhost:13004
NEXT_PUBLIC_WEBSITE_CONTENT_SERVICE_URL=http://localhost:13005

# Configuration pour le développement
NODE_ENV=development
