# Configuration Email Service
NODE_ENV=development
PORT=3006

# Configuration Gmail
GMAIL_USER=u4999410740@gmail.com
GMAIL_APP_PASSWORD=vyli fdmp hrww jvlz
ADMIN_EMAIL=u4999410740@gmail.com

# Configuration de l'application
APP_NAME=E-commerce Platform
FROM_EMAIL=u4999410740@gmail.com
FROM_NAME=E-commerce Platform
